
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :email, label: 'Email', input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :password, label: 'Password', input_html: { class: "form-control", type: "password"} %>
  </div>

  <div class="form-group">
    <%= f.input :password, label: 'Password', input_html: { class: "form-control", type: "password"} %>
  </div>

  <div class="form-group">
    <%= f.input :name, label: 'Name', input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :title, label: 'Title', input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :organization_name, label: 'Organization Name', input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :organization_name, label: 'User Role', input_html: { class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>


