<p id="notice"><%= notice %></p>

<h3>Users</h3>

<%= link_to 'New User', new_user_path, class: "btn btn-outline-info", type: "button" %>

<br> <br>

<table  id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Role</th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.email %></td>
            <td><%= user.user_role %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br>
