 <div class="left-side-menu">
                <!-- LOGO -->
                <a href="index.html" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="/logo.png" alt="" height="40">
                    </span>                   
                </a>

                <div class="h-100" id="left-side-menu-container" data-simplebar>
                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav">
                        <li class="side-nav-title side-nav-item">Navigation</li>
                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge badge-success float-right">4</span>
                                <span> Dashboards </span>
                            </a>
                        </li>
                    </ul> 
                </div>
                <!-- Sidebar -left -->
            </div>