    <div class="topnav shadow-sm">
                        <div class="container-fluid">
                            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                                <div class="collapse navbar-collapse" id="topnav-menu-content">
                                    <ul class="navbar-nav">
                                        <li class="nav-item"><a href="/workplaces" class="nav-link">Workplaces</a></li>
                                        <li class="nav-item"><a href="/application_requests" class="nav-link">Application Requests</a></li>
                                        <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
    </div>