
<%= simple_form_for(@workplace) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :name, label: 'Name', input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :address, label: 'Address', input_html: { class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>


