<p id="notice"><%= notice %></p>

<h3>Work Places</h3>

<%= link_to 'New Work Place', new_workplace_path, class: "btn btn-outline-info", type: "button" %>

<br> <br>

<table  id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Created By</th>
            <th>Request Limit</th>
        </tr>
    </thead>
    <tbody>
      <% @workplaces.each do |w| %>
        <tr>
            <td><%= link_to w.name %></td>
            <td><%= w.address %></td>
            <td><%= User.first.id %></td>
            <td><%= w.request_limit %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br>
