<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workplace.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @workplace.address %>
</p>

<p>
  <strong>Request limit:</strong>
  <%= @workplace.request_limit %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @workplace.created_by %>
</p>

<%= link_to 'Edit', edit_workplace_path(@workplace) %> |
<%= link_to 'Back', workplaces_path %>
