
<%#= render "devise/shared/links" %>

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
        <link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

    </head>

    <body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">
                        
                        <span class="topnav-logo-lg">
                          <img src="/govlogo.png" alt="" height="80">
                        </span>
                        <br> <br>
                        
                        <span class="navbar-project-name" >ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့</span> <br>
                        <p class="navbar-project-name dep">အလုပ်ဌာန ဆက်သွယ်ရေး Online စနစ်</p>

                        <br> <br>
                        <!-- title-->
                        <h4 class="mt-0">Sign In</h4>
                        
                        <p class="text-muted mb-4">Enter your email address and password to access account.</p>

                        <!-- form -->
                            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <%= f.error_notification %>
                              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                              <div class="form-group">
                                <%= f.input :email, label: 'Email', input_html: { class: "form-control"} %>
                              </div>

                              <div class="form-group">
                                <%= f.input :password, label: 'Password', input_html: { class: "form-control"} %>
                              </div>

                              <div class="actions">
                                <%= f.submit "Sign In", class: "btn btn-primary btn-block" %>
                              </div>
                            <% end %>
                        <!-- end form-->    

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->


        <!-- bundle -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>

    </body>

</html>