/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .topnav-navbar-dark{
     background-color: #2F8DD8 !important;
 }

 .topnav-logo {
     padding-right: 0px !important;
     min-width: 80px !important;
     margin-top: -5px;
 }

 .title {
     margin-right: 160px;
     margin-top: 8px;
 }

 .dep {
     font-size: 16px;
 }

 .btn {
     float: right;
 }
 
 .btn-light {
     margin-right: 10px;
 }

.btn-outline-info {
    margin-left: 15px;
}

.auth-fluid {
    background-image: url(/background.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}