<%= simple_form_for(@application_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.label("Work Place", :work_place_id) %>
    <%= f.select :work_place_id, options_from_collection_for_select(Workplace.all, "id", "name"), { include_blank: true }, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label(:verified_at, :verified_at) %>
    <%= f.text_field :verified_at, class: "form-control",type: "date", autocomplete: :off  %>
  </div>

  <div class="form-group">
    <%= f.label(:rejected_at, :rejected_at) %>
    <%= f.text_field :rejected_at, class: "form-control",type: "date", autocomplete: :off  %>
  </div>

  <div class="form-group">
    <%= f.label(:approved_at, :approved_at) %>
    <%= f.text_field :approved_at, class: "form-control",type: "date", autocomplete: :off  %>
  </div>

  <div class="form-group">
    <%= f.label("Verified By", :verified_by) %>
    <%= f.select :verified_by, options_from_collection_for_select(User.all, "id", "email"), { include_blank: true }, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label("Approved By", :approved_by) %>
    <%= f.select :approved_by, options_from_collection_for_select(User.all, "id", "email"), { include_blank: true }, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label(:employee_list, :employee_list) %>
    <%= f.input :employee_list, label: false, class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>



