<p id="notice"><%= notice %></p>

<h3>Application Requests</h3>

<%= link_to 'New Application Request', new_application_request_path, class: "btn btn-outline-info", type: "button" %>

<br> <br>

<table  id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>Work Place</th>
            <th>Status</th>
            <th>Verified At</th>
            <th>Rejected At</th>
            <th>Approved At</th>
            <th>Verified By</th>
            <th>Approved By</th>
        </tr>
    </thead>
    <tbody>
      <% @application_requests.each do |w| %>
        <tr>
            <td><%= link_to Workplace.find(w.work_place_id).name %></td>
            <td><%= "testing" %></td>
            <td><%= DateTime.now().strftime("%d-%m-%Y") %></td>
            <td><%= %></td>
            <td><%=  %></td>
            <td><%= User.first.id %></td>
            <td><%=  %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br>
