<p id="notice"><%= notice %></p>

<p>
  <strong>Work place:</strong>
  <%= @application_request.work_place_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application_request.status %>
</p>

<p>
  <strong>Verified at:</strong>
  <%= @application_request.verified_at %>
</p>

<p>
  <strong>Rejected at:</strong>
  <%= @application_request.rejected_at %>
</p>

<p>
  <strong>Approved at:</strong>
  <%= @application_request.approved_at %>
</p>

<p>
  <strong>Verified by:</strong>
  <%= @application_request.verified_by %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @application_request.approved_by %>
</p>

<p>
  <strong>Employee list:</strong>
  <%= @application_request.employee_list %>
</p>

<%= link_to 'Edit', edit_application_request_path(@application_request) %> |
<%= link_to 'Back', application_requests_path %>
