<!DOCTYPE html>
<html>
  <head>
      <title>PemasBaseTemplate</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- third party css -->
      <link href="/creative/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
      <!-- third party css end -->

      <!-- App css -->
      <link href="/creative/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
      <link href="/creative/assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />
   
  </head>

  <body  data-layout="topnav" data-layout-config='{"layoutBoxed":false,"darkMode":false,"showRightSidebarOnStart": true}'>
    
      <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <% if current_user.present? %>

                    <div class="navbar-custom topnav-navbar topnav-navbar-dark">
                        <div class="container-fluid">

                            <!-- LOGO -->
                            <a href="" class="topnav-logo">
                                <span class="topnav-logo-lg">
                                    <img src="/govlogo.png" alt="" height="50">
                                </span>
                            </a>

                            <ul class="list-unstyled topbar-left-menu float-left mb-0 title">
                                <span class="text-white navbar-project-name" >ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့</span> <br>
                                <p class="text-white navbar-project-name dep">အလုပ်ဌာန ဆက်သွယ်ရေး Online စနစ်</p>
                            </ul>
                            
                            <ul class="list-unstyled topbar-right-menu float-right mb-0">

                               <%#= render partial: "shared/profile" %>
                            
                            </ul>
                            <a class="navbar-toggle"  data-toggle="collapse" data-target="#topnav-menu-content">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                             <!-- <% render partial: "shared/searchbar" %> -->

                        </div>
                    </div>
                    
                    <!-- end Topbar -->
                     <%= render partial: "shared/navbar" %> 
                    <% end %>
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <%= yield %>
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <!-- Footer Start -->
                <%= render partial: "shared/footer" %>

                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        
        <script src="/creative/assets/js/vendor.min.js"></script>
        <script src="/creative/assets/js/app.min.js"></script>

        <!-- third party js -->
        <script src="/creative/assets/js/vendor/apexcharts.min.js"></script>
        <script src="/creative/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/creative/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
        <!-- third party js ends -->

  </body>
</html>
